body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.news-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  flex: 1 1 300px;
  background: #1f1f1f;
  padding: 15px;
  border-radius: 10px;
}

/* Mobile */
@media (max-width: 768px) {
  .news-grid {
    flex-direction: column;
  }
}
